/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    color: #333;
}

/* Header */
.header {
    background-color: #003DA5; /* Azul más oscuro */
    color: white;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header__title {
    font-size: 2.5rem;
    margin: 0;
}

.header__nav {
    margin-top: 10px;
}

.nav__list {
    list-style: none;
    padding: 0;
}

.nav__item {
    display: inline;
    margin: 0 15px;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #FFD700; /* Dorado */
}

/* Perfil */
.perfil {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; /* Centrado automático */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Máxima anchura */
}

.perfil__imagen {
    width: 200px; /* Aumentar tamaño de imagen */
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.perfil__info {
    flex: 1;
}

.perfil__nombre {
    font-size: 2rem;
    font-weight: bold;
    color: #003DA5; /* Azul */
}

.perfil__fecha-nacimiento,
.perfil__lugar-nacimiento,
.perfil__posicion,
.perfil__partidos-jugados,
.perfil__goles,
.perfil__internacional {
    margin: 5px 0;
}

/* Logros */
.logros {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Máxima anchura */
    margin: 20px auto; /* Centrado automático */
}

.logros__title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #003DA5; /* Azul */
}

.logros__list {
    list-style: none;
    padding: 0;
}

.logros__item {
    background: #e9ecef; /* Fondo gris claro */
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}

/* Galería */
.galeria {
    margin-top: 20px;
    text-align: center; /* Centramos la galería */
}

.galeria__title {
    font-size: 2rem;
    color: #003DA5; /* Azul */
    margin-bottom: 20px;
}

.galeria__images {
    display: flex;
    justify-content: center; /* Centramos las imágenes */
    flex-wrap: wrap;
}

.galeria__image {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    position: relative;
}
